<IfModule mod_expires.c>
   ExpiresActive on
   ExpiresByType text/html "access 2 day"
   ExpiresByType text/css "access 2 day"
   ExpiresByType text/javascript "access 1 month"
   ExpiresByType text/plain "access 1 month"
   ExpiresByType image/jpg "access 1 month"
   ExpiresByType image/gif "access 1 month"
   ExpiresByType image/png "access 1 month"
   ExpiresByType application/pdf "access 1 month"
   ExpiresByType application/x-shockwave-flash "access 1 month"
   ExpiresDefault "access 2 days"
  </IfModule> 