body{font-size:1em;line-height:1.4;font-family:"Lora";font-weight:300;color:#555;-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch;}
a, a:hover{text-decoration:none;}
p{margin:0 0 25px;font-size:24px;line-height:1.5;font-family:"Lora";}
h1{font-family:"Lato";color:#333;text-transform:uppercase;font-size:32px;}
h3{color:#A09F9F;font-size:28px;}
h4{line-height:1.5;font-size:22px;}
html,
body{width:100%;height:100%;}
hr{position:relative;border:none;}
hr:before{content:" ";position:absolute;top:0;left:25%;width:50%;height:2px;background:#ccc;}
.arrow{padding-top:200px;font-size: 30px;}
.section-divider{z-index:999;width:100%;display:table;max-height:450px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;padding-top:30px;padding-bottom:70px;margin-top:65px;background-position:center center;-webkit-background-size:100%;-moz-background-size:100%;-o-background-size:100%;background-size:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:relative;text-align:center;}
.textdivider h1{padding-top:30px;color:white;}
.textdivider h4{color:white;margin-bottom:-30px;margin-top: 2em;}
.intro{display:table;width:100%;height:auto;padding:100px 0;text-align:center;color:#000;background-color:#fff;background:url(../img/header.png) no-repeat bottom center scroll;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;}
.intro .intro-body{display:table-cell;vertical-align:middle;}
.intro .intro-body .brand-heading{margin-top: 250px;font-size:40px;font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:700;color:#fff;text-shadow:2px 2px 3px rgba(0, 0, 0, 0.6);}
.navbar-custom{margin-bottom:0;border-bottom:1px solid rgba(255,255,255,.3);text-transform:uppercase;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;background-color:#000;}
.navbar-custom .navbar-brand{font-weight:700;}
.navbar-custom .navbar-brand:focus{outline:0;}
.navbar-custom .navbar-brand .navbar-toggle{padding:4px 6px;font-size:16px;color:#fff;}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active{outline:0;}
.navbar-custom a{color:#fff;font-size:14px;}
.navbar-custom .nav li a{-webkit-transition:background .3s ease-in-out;-moz-transition:background .3s ease-in-out;transition:background .3s ease-in-out;}
.navbar-custom .nav li a:hover{outline:0;color:rgba(255,255,255,.8);background-color:transparent;}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active{outline:0;background-color:transparent;}
.navbar-custom .nav li.active{outline:0;}
.navbar-custom .nav li.active a{background-color:transparent;color:rgba(255,255,255,.8);}
.navbar-custom .nav li.active a:hover{color:#fff;}
.btn{text-transform:uppercase;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.btn-default{border:1px solid #000;color:#000;background-color:#fff;}
.btn-default:hover,
.btn-default:focus{border:1px solid #000;outline:0;color:#fff;background-color:#000;}
.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px;}
.grises img{display:block;filter:url('#grayscale');width:173px;height:112px;-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);filter:Gray();-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.grises img:hover{width:173px;height:112px;-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);-ms-filter:grayscale(0%);-o-filter:grayscale(0%);filter:none;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.portf{margin-top:100px;}
.portf a{color:#00B3EB; font-size: 18px;font-family:"Lato";}
.imagen, .imagen2, .imagen3, .imagen4, .imagen5, .imagen6 {visibility: hidden;}
.bounce, .pulse, .floating, .tossing, .pullUp, .pullDown, .stretchLeft, .stretchRight, .slideUp, .slideRight, .slideLeft{visibility: visible !important;}	
.divider1{background-color:#0068FA;}
.rslides{margin:0 auto 40px;}
.callbacks_container{margin-bottom:50px;position:relative;float:left;width:100%;}
.callbacks{position:relative;list-style:none;overflow:hidden;width:100%;padding:0;margin:0;}
.callbacks li{position:absolute;width:100%;left:0;top:0;}
.callbacks_nav{position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:52%;outline: none;left:-15px;opacity:0.7;z-index:3;text-indent:-9999px;overflow:hidden;text-decoration:none;height:61px;width:38px;background:transparent url("../themes/themes.gif") no-repeat left top;margin-top:-45px;}
.callbacks_nav:active{opacity:1.0;}
.callbacks_nav.next{left:auto;background-position:right top;right:-15px;outline: none;}
.divider2{background-color:#571B6B;}
.iconos i{margin-left:30px;color:white;font-size: 30px;margin-top: 0.5em;}
footer{margin-top:50px;padding:20px 0;background:#000;}
footer p{margin:0;color:#fff;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-align: left;display: inline-block;}
.footer a {color:white;outline:none;font-size:18px;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;}

@media(min-width:768px){
	.navbar-custom{padding:20px 0;border-bottom:0;letter-spacing:1px;background:0 0;-webkit-transition:background .5s ease-in-out,padding .5s ease-in-out;-moz-transition:background .5s ease-in-out,padding .5s ease-in-out;transition:background .5s ease-in-out,padding .5s ease-in-out;}
	.navbar-custom.top-nav-collapse{padding:0;border-bottom:1px solid rgba(255,255,255,.3);background:#000;}
	.intro{height:100%;padding:0;}
	.intro .intro-body .brand-heading{font-size:100px;font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:700;color:#fff;text-shadow:2px 2px 3px rgba(0, 0, 0, 0.6);}
	.content-section{padding-top:80px;}
	.brand-heading{margin-top:30px !important;}
}

@media(max-width:380px){
	.content-section{padding-top:50px;}
	.navbar-custom{font-size: 10px;}
	.grises img{display:block;width: 65px;height: 40px;}
	.grises img:hover{display: block;width: 65px;height: 40px;}
	.footer a {color:white;outline:none;font-size:14px;}
	footer p{font-size: 14px;}
	.btn-lg{font-size: 13px;}
	.iconos i{margin-left:15px;padding-top: 5px;}
	#logos{margin-left: -1.2em;}

}

@media(max-width:768px){
	.brand-heading{margin-top:30px !important;}
	.callbacks_nav{top:47%;}
	.iconos i{font-size: 20px !important;padding: 0 0;}
	h1{font:24px "Lato";}
	p{font:18px "Lora";}
	h4{font:18px "Lora";}
	h3{font:20px "Lora";}
	.textdivider h4 {font:16px "Lato";}

}

@media screen and (min-width: 381px) and (max-width:549px){
	.grises img{display:block;width: 87px;height: 56px;}
	.grises img:hover{display: block;width: 87px;height: 56px;}
}

@media screen and (min-width: 550px) and (max-width:768px){
	.grises img{display:block;width: 139px;height: 90px;}
	.grises img:hover{display: block;width: 139px;height: 90px;}
}

@media screen and (min-width: 381px) and (max-width:993px){
	.navbar-custom a {font-size: 10px;}
}